* {
    box-sizing: border-box;
}
.container{
    width: 1200px;
}
.row {
    display: flex;
}
[class^=col-] {
    display: flex;
    margin: 5px;
}
.col-2-2 {
    flex-direction: column;
    margin: 0;
}
.col-4-3 {
    margin: 0;
}